body {
    background: #F9F9F9;
    font-size: 14px;
}

header {
    margin-bottom: 25px;
}

header h1 {
    color: #3441ff;
    margin: auto;
    text-align: center;
}

section {
    width: 300px;
    margin: 0 auto;
    border: 1px solid gray;
}

form {
    display: block;
    margin: 0 auto;
}

input {
    display: block;
    margin: 0 auto;
    height: 29px;
}

label {
    display: block;
    text-align: center;
    margin-bottom: 15px;
}

button {
    display: block;
    margin: 15px auto;
}

#result {
    width: 100%;
    height: auto;
}

#result p {
    display: none;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    font-size: 17px;
    line-height: 17px;
    padding: 15px;
}

#result #lower,
#result #greater {
    background: indianred;
}

#result #equal {
    background: lightgreen;
}